// Primary
$Very-dark-blue-main-background: hsl(233, 47%, 7%);
$Dark-desaturated-blue-card-background: hsl(244, 38%, 16%);
$Soft-violet-accent: hsl(277, 64%, 61%);

// Neutral
$White-main-heading-stats: hsl(0, 0%, 100%);
$Slightly-transparent-white-main-paragraph: hsla(0, 0%, 100%, 0.75);
$Slightly-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

body {
    background-color: $Very-dark-blue-main-background;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90dvh;
    font-family: "Inter", sans-serif;
    margin-top: 3rem;
    padding-inline: 5.4%;

    main {
        .wrapper {
            display: flex;
            justify-content: space-between;
            background-color: $Dark-desaturated-blue-card-background;
            border-radius: 0.5rem;
            overflow: hidden;
            width: 69.3rem;
            max-width: 75rem;

            .left__side {
                padding-inline: 4.5rem;

                h1 {
                    font-size: 2.23rem;
                    max-width: 380px;
                    padding-top: 4.8rem;
                    padding-bottom: 1.7rem;
                    color: $White-main-heading-stats;

                    span {
                        color: $Soft-violet-accent;
                    }
                }

                p {
                    font-size: 0.94rem;
                    max-width: 360px;
                    line-height: 1.6;
                    color: $Slightly-transparent-white-main-paragraph;
                }

                .review-wrapper {
                    display: flex;
                    gap: 4.2rem;
                    padding-top: 4.7rem;

                    .content {
                        h2 {
                            font-family: "Inter", sans-serif;
                            color: $White-main-heading-stats;
                            font-size: 1.5rem;
                            margin-bottom: 0.2rem;
                        }

                        p {
                            font-family: "Lexend Deca", sans-serif;
                            font-size: 0.795rem;
                            text-transform: uppercase;
                            color: $Slightly-transparent-white-stat-headings;
                            font-style: 400;
                        }
                    }
                }
            }

            .right__side {
                position: relative;
                .mask {
                    position: absolute;
                    background-color: $Soft-violet-accent;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    z-index: 999;
                    opacity: 0.7;
                }

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            @media screen and (max-width: 1200.98px) {
                width: 100%;

                .left__side {
                    padding-inline: 4rem;

                    h1 {
                        font-size: 2rem;
                        padding-top: 4rem;
                    }
                }
            }

            @media screen and (max-width: 1075.98px) {
                .left__side {
                    h1 {
                        font-size: 1.7rem;
                        padding-top: 3rem;
                    }

                    p {
                        font-size: 0.8rem;
                    }

                    .review-wrapper {
                        padding-top: 3rem;
                    }
                }
            }

            @media screen and (max-width: 995.98px) {
                width: 100%;

                .left__side {
                    padding-inline: 3rem;

                    p {
                        max-width: 100%;
                    }

                    .review-wrapper {
                        padding-top: 2rem;
                        padding-bottom: 2rem;
                    }
                }
            }

            @media screen and (max-width: 768.98px) {
                flex-direction: column-reverse;
                width: 100%;

                .left__side {
                    text-align: center;

                    h1 {
                        max-width: 100%;
                    }

                    .review-wrapper {
                        justify-content: center;
                    }
                }
            }

            @media screen and (max-width: 576.98px) {
                width: 100%;

                .left__side {
                    h1 {
                        font-size: 1.4rem;
                    }

                    p {
                        font-size: 0.7rem;
                    }

                    .review-wrapper {
                        flex-direction: column;
                        gap: 2rem;
                    }
                }
            }
        }
    }

    .attribution {
        color: $Slightly-transparent-white-main-paragraph;
        font-size: 11px;
        text-align: center;
        font-weight: 600;

        a {
            color: $Soft-violet-accent;
        }
    }
}
